@import '~styles/common/colours';
@import '~styles/common/breakpoints';
@import '~styles/common/mixins';

.about-section {
  @include flex-center;
  flex-direction: column;
  padding: 2.5rem 2.25rem;
  min-height: 50vh;
  background-color: $light-blue;
  color: $white;

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.about-content {
  max-width: $lg;
}

.contact-info {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;

  ul {
    display: flex;
    column-gap: 1rem;
  }

  a {
    color: $white;
  }
}

.about-me {
  background-color: $white;
  color: $dark-grey;
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  font-size: 1.15rem;
  font-weight: 300;
}

@media only screen and (min-width: $md) {
  .about-section {
    padding: 2.5rem 4rem;
  }
}

@media only screen and (min-width: $lg) {
  .about-section {
    padding: 2.5rem 8rem;
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3rem;
    margin: 2rem 0;
  }

  .contact-info {
    grid-column: span 1 / span 1;
    margin: 0;
    grid-template: repeat(2, 1fr) / auto;
  }

  .about-me {
    font-size: 1.25rem;
    grid-column: span 2 / span 2;
    margin: 0;
  }
}
