@import '~styles/common/colours';
@import '~styles/common/mixins';

footer.mainpage-footer {
  @include flex-center;
  flex-direction: column;
  color: $white;
  background-color: $black;
  height: 12rem;
  position: relative;
  font-size: 0.8rem;

  ul {
    display: flex;
    column-gap: 1rem;
  }

  span.done-with {
    margin-bottom: 0.5rem;
  }
}
span.last-update {
  position: absolute;
  bottom: 1rem;
  font-size: 0.7rem;
}
