@import '~styles/common/colours';
@import '~styles/common/breakpoints';
@import '~styles/common/mixins';

.hero {
  background: $dark-grey;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: min(85vh, 980px);
  position: relative;

  h1 {
    font-size: 2.7rem;
    margin: 0 2rem;
    background-image: radial-gradient(
      circle,
      $light-blue 0%,
      rgb(96, 176, 207) 48%,
      $light-blue 95%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
  }
}

.summary {
  @include flex-center;
  min-height: 25vh;
  position: relative;
  padding-bottom: 2rem;

  p {
    font-size: 1.15rem;
    font-weight: 600;
    font-style: italic;
    padding: 2.5rem 0;
    width: min($md, 80%);
  }
}

@media (min-width: $md) {
  .summary p {
    font-size: 1.3rem;
  }
}

@media (min-width: $lg) {
  .hero {
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 2.3rem;
    }
  }

  .summary {
    padding-bottom: 3rem;
  }
}
