@import '~assets/styles/common/colours';
@import '~assets/styles/common/breakpoints';

.projects-section {
  padding: 6rem 3rem 8rem 3rem;
  background-color: $dark-blue;
  color: $white;
  position: relative;

  h2 {
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
    row-gap: 5rem;
    flex-wrap: wrap;
    margin: 3rem 0;
  }
}

@media only screen and (min-width: $md) {
  .projects-section {
    padding: 6rem 4rem 8rem 4rem;
  }
}
