@import '~assets/styles/common/colours';
@import '~assets/styles/common/mixins';

$short-transition-time: 0.8s;
$mid-transition-time: 1s;

.project-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 18rem;
  height: 27rem;
  @include box-shadow;

  img {
    position: absolute;
    border-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: filter $short-transition-time ease;
  }

  &:hover img {
    filter: blur(0.25rem);
  }
}

.project-card-overlay {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
  height: 100%;
  row-gap: 2rem;
  color: $white;
  padding: 2rem 1.5rem;
  transition: background-color $short-transition-time ease;

  p {
    font-size: small;
    @include appear-from-top-transition($mid-transition-time);
  }

  &:hover {
    border-radius: 0.5rem;
    background-color: rgba($color: $dark-grey, $alpha: 0.5);

    .project-card-header,
    .project-links,
    p {
      max-height: 10rem;
    }
  }
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include appear-from-top-transition($mid-transition-time);

  span {
    font-size: small;
  }
}

.code-type {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.project-links {
  display: flex;
  justify-content: space-around;
  padding: 0 1.5rem;
  font-size: 0.85rem;
  @include appear-from-top-transition($mid-transition-time);

  a {
    @include button-styles;
  }
}
