* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
  
:root {
	--main-color: rgb(4,139,194);
	--second-color: rgb(30, 40, 55);
	--third-color: rgb(60, 70, 85);
	--fourth-color: rgb(20, 25, 30);
	--background-white: rgb(247, 244, 240);
	--light-gray: rgb(130, 130, 130);
}
  
html, body {
	background: var(--background-white);
	color: rgb(40, 35, 35);
	font-size: 18px;
	font-family: 'Open Sans', 'Gill Sans', sans-serif;
	min-width: 400px;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

@media only screen and (min-width: 1000px) {
  html, body {
		font-size: 16px;
	}
}

@media only screen and (min-width: 2500px) {
  html, body {
		font-size: 22px;
	}
}