.basic-info {
  padding: 1rem auto;
  margin: 2rem auto;
}

.basic-info p {
  font-size: 0.9rem;
  font-weight: 300;
}

.basic-info-line {
  margin: 1rem auto;
  display: flex;
  column-gap: 0.8ch;
}

.basic-info-pad {
  padding: 1rem 2.5rem 0;
}

.textual-section {
  margin-top: 3rem;
}

.profile-photo {
  display: flex;
  align-items: flex-end;
}
