.cvinfo-section {
  flex: 1;
}

.cvinfo-section h2{
  font-size: 1.65rem;
  margin-bottom: 0.8rem;
}

.cvinfo-section h3{
  font-size: 1.15rem;
  font-weight: 400;
  padding-left: 5%;
  margin: 0.8rem auto;
}

.cvinfo-section h4{
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10%;
  margin: 0.8rem auto;
}

.cvinfo-section p{
  color: var(--third-color);
  display: inline;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 4ch;
}

.cvinfo-section-medium{
  width: 100%;
}

.cvinfo-section-company {
  margin-bottom: 8%;
}

@media only screen and (min-width: 660px) {  
  .cvinfo-section-medium{
    width: min(25%, 400px);
  }
}