/*==========Color palette==========*/
$light-blue: rgb(4, 139, 194);
$black: rgb(33, 33, 33);
$white: rgb(247, 244, 240);
$dark-gray: rgb(41, 48, 53);
$light-gray: rgb(130, 130, 130);

/*==========Ligth theme==========*/
$bkg-color: $white;
$font-color: $black;
$footer-bkg: rgb(223, 222, 217);
