/*==========Color palette==========*/
$main-color: rgb(4, 139, 194);
$second-color: rgb(30, 40, 55);
$third-color: rgb(50, 76, 94);
$white: rgb(247, 244, 240);
$light-gray: rgb(130, 130, 130);

/*==========Ligth theme==========*/
$bkg-color: $white;
$font-color: rgb(40, 35, 35);
$footer-bkg: rgb(223, 222, 217);
